*.class
*.log
*.jar
*.war
*.zip
*.tar.gz
*.swp
.camel-jbang/
.vscode/
# Gradle
.gradle/
build/
bin/

# IDE
.idea/
*.iml
.vscode/

# EIP Specific
**/certs/ssl-*
**/certs/mtls-*
**/certs/https-*
**/certs/non-ssl-*
.env
**/.env

# Docker
**/data/

# Heavy Workspaces
kaoto/
eip-transformer-ui/node_modules/
eip-transformer-ui/build/
**/GENERATED_SCHEMA/
**/.camel-jbang/