# EIP Core Shell Configuration
EIP_CONFIG_DIR=C:/software/eip-core-integration-2026-03-26/eip-core-docs
EIP_CERT_DIR=C:/software/eip-core-integration-2026-03-26/eip-core-environment/fuel/certs

# Kafka SSL / SASL
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_TARGET=pacs-008-payments
KEYSTORE_PASSWORD=your_password
TRUSTSTORE_PASSWORD=your_password

# MongoDB (Audit Target - Optional)
# MONGO_ENABLED=true
# EIP_AUDIT_URI=mongodb:auditRepo?database=eip&collection=audit&operation=insert
MONGO_CONNECTION_STRING=mongodb://root:pass@localhost:27017

# SFTP Creds
SFTP_HOST=localhost
SFTP_USER=test
SFTP_PASS=test

# IBM MQ
MQ_HOST=localhost
MQ_PORT=1414
MQ_QMGR=QM1
MQ_CHANNEL=DEV.APP.SVRCONN
MQ_QUEUE=DEV.QUEUE.1
MQ_USER=app
MQ_PASS=admin
